section.section.section--footer
  div.download
    a( target='_blank' href='https://packagecontrol.io/packages/Material%20Theme' )
      img( src="/material-theme/assets/download.svg" )
      h2 DOWNLOAD

    small or touch it on #[a( target='_blank' href='https://github.com/equinusocio/material-theme' ) GitHub]