section.section.section--herobanner
  div.heading
    //- Main title
    h1 Material Theme
    h2 The most epic theme for Sublime Text

  //- Screenshots
  div.screens
    img.screen( src='/material-theme/assets/screen1.jpg' alt='Material Theme' )
    img.screen( src='/material-theme/assets/screen2.jpg' alt='Material Theme Darker' )
    img.screen( src='/material-theme/assets/screen3.jpg' alt='Material Theme Lighter' )