section.section
  div.section__content

    div.section__area
      h2 Settings and addons.
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis iusto minima vitae eaque quidem nihil aspernatur. Dolor porro, quaerat tempora animi alias provident vero doloremque, magnam rem ut, voluptate expedita?

    div.section__area.section__area--figure( style='background-image: url(/assets/figure2.png)' )