section.section
  div.section__content

    div.section__area
      h2 Settings and addons.
      p  With a lot of settings you can personalize your Sublime Text as you want. Material Theme also has an addon package that let you change the color of the quick panel and inputs, search for Material Theme White Panels on Package Control. <a target="_blank" href="https://github.com/equinusocio/material-theme">More Info ⟶</a>

    div.section__area.section__area--figure( style='background-image: url(/assets/figure2.png)' )