section.section
  div.section__content
    div.section__area.section__area--figure.section__area--figure-left( style='background-image: url(./assets/figure1.png)' )

    div.section__area
      h2 Colorful and elegant.
      p  Material Theme provide six different UI accent colors. You can change the accent color just editing your preferences. The UI is designed for make your work more pleasant. <a target="_blank" href="https://github.com/equinusocio/material-theme">More Info ⟶</a>