section.section
  div.section__content
    div.section__area.section__area--figure.section__area--figure-left( style='background-image: url(/assets/figure1.png)' )

    div.section__area
      h2 Colorful and elegant.
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis iusto minima vitae eaque quidem nihil aspernatur. Dolor porro, quaerat tempora animi alias provident vero doloremque, magnam rem ut, voluptate expedita?